<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="registrarUsuario(form)" #form = "ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Crear nueva cuenta
                </span>

                <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="usuario.email" class="input100" type="email" name="email" placeholder="Email" required email>
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="form.submitted && form.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input [(ngModel)]="usuario.nombre" class="input100" type="text" name="nombre" placeholder="Nombre y apellidos" required>
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="form.submitted && form.controls['pass'].errors" class="text-danger animated fadeIn">La contraseña debe de tener más de 6 caracteres</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input [(ngModel)]="usuario.password" class="input100" type="password" name="pass" placeholder="Password" required minlength="6">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                            ¿Ya tienes cuenta? / Ingresar
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>